*{
    margin: 0px;
    padding: 0px;
}
html{
    overflow-x: hidden;
}
ul{
    display: flex;
    background-color: antiquewhite;
    height: 80px;
}
ul li{
    margin: 20px;
    list-style: none;
}
/* ul li img{
    margin-bottom: 20px;
} */
.second-li{
    margin-left: 500px;
}
button{
    border: none;
    font-size: 20px;
    margin-left: 500px;
}

.hero img{
     width: 1000%; 
    height: 100%;
   
}
.hero h1{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.grid-box{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 10px;
}
.grid-box div img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid black;
}